/* Selections */
th::selection, td::selection {
    background: #FF3333;
    color: white;
}

.heading1 {
    margin-top: 0%;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    background-color: #383838;
    overflow: hidden;
}

.headings2{
    padding: 0.5em 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.75em;
    font-weight: 450;
}

a{
    text-decoration: none;
}

.names-box {
    border: 3px solid gray;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5vh;
}

.names-box p {
    border: 2px solid gray;
    padding: 0.25em;
    display: inline-block;
    margin-left: 1vw;
}

.parallax-firefighters {
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../images/styling/firefighters-background.png);
}

/* Responsive */
