.heading1 {
    margin-top: 0%;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    background-color: #A50321;
}

.heading2{
    margin-top: 0%;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    background-color: grey;
}

h2{
    margin-left: 10%;
    color: white;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
}

a:link{
    text-decoration: none;
}

.cards-box {
    height: 60vh;
}

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 32%;
    text-align: center;
    float: left;
    margin-left: 1%;
    margin-bottom: 1vh;
  }

.card-container h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container img {
    width:98%;
    height: 40vh;
    margin-top: 1.5vh;
}

#summaryStatistic{
    width:100%;
    height:100%;
    background-color: grey;
}