.heading1 {
    margin-top: 0%;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    background-color: #A50321;
}

.heading2{
    margin-top: 0%;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    background-color: #383838;
}

.cards-box {
    height: 70vh;
}

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 32%;
    text-align: center;
    float: left;
    margin-left: 1%;
    margin-bottom: 1vh;
  }

.card-container h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container p {
    font-size: 1.35em;
}

.card-container img {
    width:98%;
    height: 33vh;
    margin-top: 1.5vh;
}

.summary-statistic{
    width:100%;
    height: 70vh;
    background-color: white;
}

.half-summary-statistic-links {
    width: 40%;
    float: left;
    height: 60vh;
    margin-top: 5vh;
    margin-left: 10%;
}

.half-summary-statistic-chart {
    width: 40%;
    float: left;
    height: 60vh;
    margin-top: 5vh;
    margin-right: 10%;
}


.summary-statistic a {
    margin-top: 3vh;
    margin-bottom: 20%;
    display: block;
    color: black;
    letter-spacing: 0.25vw;
    font-size: 2.25em;
    font-weight: 500;
    text-decoration: none;
}